* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    overflow-x: hidden;
    transition: background 0.2s linear;
}

h1 {
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Poppins', sans-serif; */
}

.labeldark {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    border-radius: 50px;
    height: 26px;
    width: 50px;
}

.checkboxdark {
    opacity: 0;
    position: absolute;
}

.checkboxdark:checked+.labeldark .ball {
    transform: translateX(24px);
}

.fa-moon-o {
    color: #fff;
}

.fa-sun-o {
    color: #fea100;
}

.ball {
    background-color: #fff;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    position: absolute;
    height: 22px;
    width: 22px;
    transition: transform 0.2s linear;
}

body.darkmode {
    background: black;
    background-color: #111;
}

body.darkmode h1 {
    color: #fff;
}

body.darkmode dmt {
    color: #fff;
}

.banner {
    position: relative;
    font-size: 14vw;
    color: #fff;
    -webkit-text-stroke: 0.3vw #fff;
    /* text-transform: uppercase; */
    /* background-color: #252839; */
}

.banner::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    /* right: 0; */
    width: 0;
    height: 100%;
    color: #FE6E00;
    -webkit-text-stroke: 0vw #fff;
    /* border-right: 2px solid #FE6E00; */
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%, 10%, 100% {
        width: 0;
    }

    70%, 90% {
        width: 100%;
    }
}

.logocolor {
    color: #FE6E00;
}

.menuanime:hover {
    font-family: cursive;
    color: #FE6E00;
}

.carousel-item img {
    width: 100%;
    height: 80vh;
}


button.accordion-button:not(.collapsed) {
    color: white;
    background: #fe6e005a;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);

}

button.accordion-button.collapsed {
    color: #FE6E00;
    background: white;

}

.aboutimg img {
    width: 350px;
    height: 350px;
}

.bg-services {
    background: #fe6e005a;
}

.bg-icon {
    background: #FE6E00;
}

.pricewrapper {
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 10px 10px 15px rgba(254, 110, 0, 0.353);
}

.pricewrapper headerprice {
    display: flex;
    align-items: center;
    position: relative;
    height: 55px;
    border: 1px solid rgba(254, 110, 0, 0.353);
    border-radius: 30px;
}

headerprice label {
    height: 100%;
    width: 30%;
    display: flex;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transition: all 0.3s ease;
}

headerprice label:nth-child(2) {
    width: 40%;
}

headerprice .slider {
    position: absolute;
    /* left: 50%; */
    height: 85%;
    /* width: 120px; */
    background: #FE6E00;
    border-radius: inherit;
    /* transform: translateX(-50%); */
    transition: all 0.3s ease;

}

#tab-1:checked~headerprice .tab-1,
#tab-2:checked~headerprice .tab-2,
#tab-3:checked~headerprice .tab-3 {
    color: fff;
}

#tab-1:checked~headerprice .slider {
    left: 0%;
    width: 90px;
    transform: translateX(5%);
}

#tab-2:checked~headerprice .slider {
    left: 50%;
    width: 120px;
    transform: translateX(-50%);
}

#tab-3:checked~headerprice .slider {
    left: 100%;
    width: 95px;
    transform: translateX(-105%);
}

.pricewrapper input[type="radio"] {
    display: none;
}

.rowprice .pricing-deatils {
    margin: 20px 0;
    text-align: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #fe6e005a;
}

.pricing-deatils span {
    font-size: 65px;
    font-weight: 600;
    position: relative;
}

.pricing-deatils span::before,
.pricing-deatils span::after {
    position: absolute;
    font-weight: 400;
}

.pricing-deatils span::before {
    /* position: absolute; */
    content: "₹";
    font-size: 20px;
    left: -13px;
    top: 17px;
    /* font-weight: 400; */
}

.pricing-deatils span::after {
    content: "/year";
    font-size: 13px;
    right: -33px;
    bottom: 17px;
}

.pricing-deatils p {
    font-size: 18px;
    margin-top: 5px;
}

.rowprice .features li {
    display: flex;
    font-size: 15px;
    margin-bottom: 10px;
    list-style: none;
    align-items: center;
}

.features li i {
    color: #FE6E00;
}

.features li span {
    margin-left: 10px;
}

.card-area {
    overflow: hidden;
}

.card-area .cards {
    width: 300%;
    display: flex;

}

.cards .rowprice {
    width: 33.4%;
}

.cards .rowprice-1 {
    transition: all 0.3s ease;
}

#tab-1:checked~.card-area .cards .rowprice-1 {
    margin-left: 0%;
}

#tab-2:checked~.card-area .cards .rowprice-1 {
    margin-left: -33.4%;
}

#tab-3:checked~.card-area .cards .rowprice-1 {
    margin-left: -66.8%;
}

.card-body img {
    min-width: 50%;
    max-height: 200px;
}

.formlabelcolor {
    color: #FE6E00;
}

/* rgba(253, 169, 13, 0.25) */

.contact img {
    max-width: 50%;
    max-height: 200px;
}

@keyframes sway {
    0% {
        transform: rotate(8deg);
    }

    50% {
        transform: rotate(-8deg);
    }

    100% {
        transform: rotate(8deg);
    }
}

.swing {
    animation: sway 2.4s infinite;
    animation-timing-function: ease-in-out;
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    transform-origin: top;
}